/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.txtFlow {
    -fx-background-color: white;
    -fx-border-radius: 10;
}

.background {
    -fx-background-color: #393939;
}

.tab-pane-back {
    -fx-background-color: #f78218;
}

.button {
    -fx-background-radius: 12;

    -fx-border-radius: 10;
    -fx-border-color: #dedede;
    -fx-text-fill: #393939;
    -fx-border-width: 3;
}

.button:hover {
    -fx-background-color: #f78218;
    -fx-border-color: #f78218;
    -fx-text-fill: #393939;
    -fx-font-weight: bold;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #dedede;
}

.button:focused {
    -fx-border-color: #f78218;
}

.toggle-button {
    -fx-background-radius: 12;

    -fx-border-radius: 10;
    -fx-border-color: #dedede;
    -fx-text-fill: #393939;
    -fx-border-width: 3;
}

.toggle-button:hover {
    -fx-background-color: #f78218;
    -fx-border-color: #f78218;
    -fx-text-fill: #393939;
    -fx-font-weight: bold;
}

.toggle-button:pressed, .toggle-button:default:hover:pressed {
    -fx-background-color: #dedede;
}

.toggle-button:focused {
    -fx-border-color: #f78218;
}

.toggle-button:selected {
    -fx-background-color: #f78218;
}

.menu-bar {
    -fx-background-color: #393939
}

.context-menu {
    -fx-background-color: derive(#393939, 20%);
}

.context-menu .menu-item:focused {
    -fx-background-color: derive(#393939, 10%);
}

.menu-bar .label {
    -fx-text-fill: #f78218;
    -fx-opacity: 0.9;
}

.menu-bar .menu:hover, .menu:showing {
    -fx-background-color: derive(#393939, 20%);
}

.button-mk {
    -fx-text-fill: #f78218;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label-start {
    -fx-text-fill: #f78218;
    -fx-font-size: 16px;

}

.label-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;

}

.label-Sub {
    -fx-text-fill: #f78218;
    -fx-font-weight: bold;
}

.vbox-mk {
    -fx-background-color: #dedede;
    -fx-background-radius: 6;
}

.vbox-mk .label {
    -fx-text-fill: #393939;
    -fx-font-weight: bold;
}

.vbox-mk .radio-button {
    -fx-text-fill: #f78218;
    -fx-font-weight: bold;
}

.vbox-mk .check-box {
    -fx-text-fill: #f78218;
    -fx-font-weight: bold;
}

.combo-box-base, .cell, .indexed-cell, .list-cell, .list-view, .arrow, .arrow-button{

}

.vbox-mk .combo-box {
    -fx-background-radius: 6;
    -fx-font-weight: bold;
}

.label-text {
    -fx-text-fill: white;
}

.label-value {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
*  */
